<a href="https://colab.research.google.com/github/leejyy/New/blob/master/911EmergencyCalls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Case Study

Congrats! You have been contracted to conduct a brief analysis of a dataset containing ememrgency calls in order to determine the allocation of funds to you local authorities.  This analysis will play a role in deciding changes to the emergency response department.

The data is based in 911 emergency calls and your job is to determine a variety of issues regarding said calls.

1. Using Pandas and Numpy, analyse the data and come up with 5 questions that you would like to answer about the data.

2. the instructor will provide a rnage of questions to answer and you should use your knowledge to complte them as a team.

In [5]:
import numpy as np
import pandas as pd

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/projects/911/data/911.csv')

In [10]:
data.head(10)

         lat        lng  ...                                      addr  e
0  40.297876 -75.581294  ...                    REINDEER CT & DEAD END  1
1  40.258061 -75.264680  ...                BRIAR PATH & WHITEMARSH LN  1
2  40.121182 -75.351975  ...                                  HAWS AVE  1
3  40.116153 -75.343513  ...                        AIRY ST & SWEDE ST  1
4  40.251492 -75.603350  ...                  CHERRYWOOD CT & DEAD END  1
5  40.253473 -75.283245  ...                     CANNON AVE & W 9TH ST  1
6  40.182111 -75.127795  ...                  LAUREL AVE & OAKDALE AVE  1
7  40.217286 -75.405182  ...              COLLEGEVILLE RD & LYWISKI RD  1
8  40.289027 -75.399590  ...             MAIN ST & OLD SUMNEYTOWN PIKE  1
9  40.102398 -75.291458  ...  BLUEROUTE  & RAMP I476 NB TO CHEMICAL RD  1

[10 rows x 9 columns]

How many unique timeStamp are there?

In [11]:

data['timeStamp'].nunique()

72577

In [14]:

data[data['zip']=='19525']['title']

Series([], Name: title, dtype: object)