<a href="https://colab.research.google.com/github/leejyy/New/blob/master/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [1]:
name=['Mike','Kevin','Ken','May','Ada']

## 2.	Print out those variables by using a for loop

In [2]:
name=['Mike','Kevin','Ken','May','Ada']
for name1 in name:
  print(name1)

Mike
Kevin
Ken
May
Ada

## 3.	Modify your for loop to add a message to your for loop.

In [3]:
name=['Mike','Kevin','Ken','May','Ada']
for name1 in name:
  print(name1, "are my family members.")

Mike are my family members.
Kevin are my family members.
Ken are my family members.
May are my family members.
Ada are my family members.

## 4.	Use a for loop to print even numbers from 1-20.

In [15]:
for numbers in range(2,21,2):
    print(numbers)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [18]:
name=['Mike','Kevin','Ken','May','Ada']
name.sort()
print(name)

['Ada', 'Ken', 'Kevin', 'May', 'Mike']

## 6.	Print out the first three elements of your list.

In [ ]:
print(name[:3])

['Ada', 'Ken', 'Kevin']

## 7.	Create a loop to print the last 2 elements of your list.

In [31]:
name=['Mike','Kevin','Ken','May','Ada']
for last2 in name[-2:]:
  print (last2)

May
Ada